:root {
  --panel-size: 100px;
}
.scene {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scene1 {
  width: 100%;
  height: 200px;
  perspective: 800px;
}
#scene2 {
  display: none;
}
.cube {
  position: relative;
  transform-style: preserve-3d;
  text-align: center;
  justify-items: center;
}
#cube1 {
  animation: rotateCube 25s infinite linear;
  top: -25%;
  left: 25%;
}

.cube div {
  position: absolute;
  background: rgba(31, 47, 47, 0.3);
  border: 2px solid rgba(50, 72, 72, 0.5);
  box-shadow: 0 0 30px rgba(41, 63, 63, 0.7);
  border-radius: 2px;
  text-align: center;
  line-height: 100px;
}
#cube1 div {
  width: var(--panel-size);
  height: var(--panel-size);
}

#cube1 div:hover {
  background: rgba(120, 79, 71, 0.332);
  border: 2px solid rgba(216, 60, 17, 0.5);
  box-shadow: 0 0 30px rgba(232, 46, 8, 0.7);
}

.front {
  transform: translateZ(calc(var(--panel-size) / 2));
}

.back {
  transform: rotateY(180deg) translateZ(calc(var(--panel-size) / 2));
}

.cube .right {
  transform: rotateY(90deg) translateZ(calc(var(--panel-size) / 2));
}

.cube .left {
  transform: rotateY(-90deg) translateZ(calc(var(--panel-size) / 2));
}

.cube .top {
  transform: rotateX(90deg) translateZ(calc(var(--panel-size) / 2));
}

.cube .bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--panel-size) / 2));
}

@keyframes rotateCube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-30deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --panel-size: 150px;
  }

  #cube1 {
    top: -20%;
    left: 20%;
  }
  #front1 {
    transform: translateZ(calc(var(--panel-size) / 2));
  }

  .cube .back {
    transform: rotateY(180deg) translateZ(calc(var(--panel-size) / 2));
  }

  .cube .right {
    transform: rotateY(90deg) translateZ(calc(var(--panel-size) / 2));
  }

  .cube .left {
    transform: rotateY(-90deg) translateZ(calc(var(--panel-size) / 2));
  }

  .cube .top {
    transform: rotateX(90deg) translateZ(calc(var(--panel-size) / 2));
  }

  .cube .bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--panel-size) / 2));
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --panelSize2: 500px;
  }


  #scene2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    perspective: 1400px;
    position: absolute;
    right: -100%;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cube2 {
    position: relative;
    animation: rotateCube2 25s infinite linear;
    transform: rotateX(-25deg);
    text-align: center;
    justify-items: center;
  }

  #cube2 div {
    position: absolute;
    width: var(--panelSize2);
    height: var(--panelSize2);
    background: rgba(46, 77, 77, 0.3);
    border: 2px solid rgba(57, 75, 75, 0.5);
    box-shadow: 0 0 30px rgba(52, 64, 64, 0.7);
    border-radius: 2px;
    text-align: center;
    line-height: 100px;
  }

  #front2 {
    transform: translateZ(calc(var(--panelSize2) / 2));
  }

  #back2 {
    transform: rotateY(180deg) translateZ(calc(var(--panelSize2) / 2));
  }

  #right2 {
    transform: rotateY(90deg) translateZ(calc(var(--panelSize2) / 2));
  }

  #left2 {
    transform: rotateY(-90deg) translateZ(calc(var(--panelSize2) / 2));
  }

  #top2 {
    transform: rotateX(90deg) translateZ(calc(var(--panelSize2) / 2));
  }

  #bottom2 {
    transform: rotateX(-90deg) translateZ(calc(var(--panelSize2) / 2));
  }
  @keyframes rotateCube2 {
    0% {
      transform: translateY(-50px) rotateX(-25deg) rotateY(0);
    }
    50% {
      transform: translateY(-300px) rotateX(-25deg) rotateY(180deg);
    }
    100% {
      transform: translateY(-50px) rotateX(-25deg) rotateY(360deg);
    }
  }
}
